@charset 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center/cover fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    /* A partir do momento que eu coloco 'position: absolute;' eu posso mecher no top e left */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Faz o ajuste para centralizar a imagem juntamente com top e left */

    height: 627px;
    width: 312px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: relative;
    top: 79px;
    left: 21px;   
    width: 267px;
    height: 475px;
}

section#redes-sociais {
    position: absolute;
    top: 50vh;
    left: 96vw;
    transform: translate(-50%, -50%);
}

section#redes-sociais img {
    width: 70px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.458);
    box-sizing: border-box; /* Faz a borda fazer parte da caixa */
}

section#redes-sociais img:hover {
    border: 3px solid rgba(255, 255, 255, 0.645);
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.538);
    transition: 0.3s, border .5s;
}